.pointer {
	cursor: pointer;
}

.cursor-move {
	cursor: move;
}

.options .dropdown-menu {
	right: 0 !important;
	left: auto;
	box-shadow: 0 6px 6px rgba(0,0,0,0.175);
	border: 1px solid rgba(0,0,0,0.15);
}
.fa-margin {
	margin-right: 7px;
}
.dropdown-menu > li > a {
    color: #000;
}

.label-checkbox{
	margin-top: 20px !important;
}

div.indentation {
    float: left;
    height: 1.7em;
    margin: -0.4em 0.2em -0.4em -0.4em;
    padding: 0.42em 0 0.42em 0.6em;
    width: 20px;
}

.datepicker {
	z-index: 1030;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	color: #fff;
}

.files-shortable .ui-sortable-handle:nth-child(4n+1) {
	clear: left;
}

.navbar-custom-menu .dropdown-menu{
	/*overflow-y: scroll;*/
    max-height: 400px;
}

.content {
	min-height: 500px;
}



span.help-block.form-error {
	font-size: 13px;
}

/*
	for mobile only
*/
@media(max-width: 767px) {
	.label-checkbox{
		margin-top: none;
	}	
}

.select2-hidden-accessible {
	height: 0px !important;
	width: 0 !important;
}

.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
	z-index: 1030;
}

.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 300px;
}

.box.box-primary {
    border-top-color: #f39c12;
}

.btn-primary {
    background-color: #f39c12;
    border-color: #f39c12;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.hover {
    background-color: #f39c12;
    border-color: #f39c12;
}

.user-back-btn {
  margin-bottom: 12px;
}

/*.select2-search__field {
	width: 400px !important;
}*/

.datepicker {
  border-radius: initial !important;
}

.email-css {
	text-transform: uppercase;
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #f39c12 !important;
}

.discount-col {
  width: 50% !important;
  float: left;
}

.color-cub {
	width:15px ! important; 
	height:15px ! important; 
	background:#dff0d8; 
	margin-left:5px; 
	display: inline-block;
}


.select2-container--default.select2-container--focus, .select2-selection.select2-container--focus, .select2-container--default:focus, .select2-selection:focus, .select2-container--default:active, .select2-selection:active {
	border:1px solid #3c8dbc;
    box-shadow: none;
}




