@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-Regular.ttf);
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
a {
  color: #0087C3;
  text-decoration: none;
}
body {
  position: relative;
  width: 942px;  
  height: auto; 
  margin: 0 auto; 
  color: #555555;
  background: #FFFFFF; 
  font-size: 14px; 
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
}
pre {
  font-family: SourceSansPro;
}
header {
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 0px solid #AAAAAA;
}
.company_info{
  text-align: center;
}

#logo {
  float: left;
  margin-top: 8px;
  width: 100%;
  text-align: center;
}
#logo img {
  height: 70px;
  width:200px;
}
#company {
  float: right;
  text-align: right;
}
#details {
  margin-bottom: 50px;
}
#client {
  /* padding-left: 6px;
  border-left: 6px solid #0087C3; */
  float: left;
}
#client .to {
  color: #777777;
}
h2.name {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
#invoice {
  float: right;
  text-align: right;
}
.w49 {
  width:60%
}
#invoice h1 {
  color: #000000;
  font-size: 2.4em;
  line-height: 1em;
  font-weight: normal;
  margin: 0  0 10px 0;
}
#invoice .date {
  font-size: 1.1em;
  color: #777777;
}
#invoice-left {
  float:left; width:49%; text-align:left
}
#invoice-left .title{
  text-align:right; padding-bottom:0px;font-size: 13px;
}
#invoice-right {
  float:right; width:40%; text-align:right
}
#invoice-right .date{
  text-align:right;padding-bottom:5px;
}
#client #invoice-left .title {
  text-align:left
}
#client #invoice-right .date {
  text-align:left
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}
table th,
table td {
  padding: 20px;
  /*background: #EEEEEE;*/
  /*text-align: center;*/
  border-bottom: 1px solid #FFFFFF;
}
table th {
  white-space: nowrap;        
  font-weight: normal;
}
table td {
  /* text-align: right; */
}
table tr.bb {
  border-bottom:2px solid #D4D3D3;
}
table td h3{
  color: #000000;
  font-size: 13px;
  font-weight: normal;
  margin: 0 0 0.2em 0;
}
table .title{
  font-size: 13px;
  background-color: #D0D0D0;
  text-align:center;
}
table .title-no {
  text-align:center;
  font-size: 13px;
  background-color: #D0D0D0;
}
table .gray {
  background-color: #D0D0D0;
}
table .no {
  color: #000000;
  font-size: 13px;
  /*background: #57B223;*/
}
table .desc {
  text-align: left;
  color: #555555;
}
table .description {
  text-align: left;
  color: #555555;
  font-size: 12px;
}
table .unit {
  /* background: #DDDDDD;*/
  color: #000000;
}
table .qty {
  color: #000000;
}
table .total {
  /* background: #57B223;*/
  color: #000000;
}
table td.unit,
table td.qty,
table td.total {
  font-size: 13px;
}
table tbody tr:last-child td {
  border: none;
}
table tfoot td {
  /*padding: 5px 0px;*/
  background: #FFFFFF;
  border-bottom: none;
  font-size: 13px;
  white-space: nowrap; 
  /*border-top: 1px solid #AAAAAA; */
}
table tfoot tr:first-child td {
  border-top: none; 
}
table tfoot tr .paid {
  color: #000000;
  /*font-size: 1.4em;*/
  border-top: 1px solid #aaaaaa; 
}
table tfoot tr .bal {
  color: #000000;
  /*font-size: 1.4em;*/
  border-top: 1px solid #aaaaaa; 
}
table tfoot tr .word {
  padding:0px;
  text-align: right;
}
table tfoot tr td:first-child {
  border: none;
}
table .title-no-light {
  text-align:center;
  font-size: 1.3em;
  /* background-color: #D0D0D0;*/
}
table .title-light{
  font-size: 1.3em;
  background-color: #FFFFFF;
  text-align:left;
}
.b-b{
  border-bottom: 1px solid #AAAAAA
}
#thanks{
  font-size: 2em;
  margin-bottom: 50px;
}
#notices{
  padding-left: 6px;
  border-left: 6px solid #0087C3;  
}
#notices .notice {
  font-size: 1.2em;
}
footer {
  color: #777777;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #AAAAAA;
  padding: 8px 0;
  text-align: center;
}
header.dark{
  background-color:#3F3F3F; 
  padding:15px 15px; 
  color:#FFFFFF; 
  margin-bottom:0;
}
#bal-dark{ 
  margin-bottom:5px; 
  padding:10px; 
  background-color:#CFCFCF; 
  padding-right:15px; 
  text-align:right; 
  font-size:16px;
}
#bal-dark strong {
  font-size:14px; 
  margin-left:15px;
}
#details-dirk {
  margin-bottom:20px;
}
table tbody.border tr.border {
  border-bottom:1px solid red;
}
table tr.b-b td {
  border-bottom:1px solid #D9D9D9;
}
.title-no-light, .title-light {
  border-bottom:1px solid #D9D9D9;
}
table tfoot.gray-light tr td {
  background-color:#D8D8D8;
}     
/*added on 21 march */
#product td {
  /*text-align: center;*/
  vertical-align: top;
}
table td.desc {
  text-align: left;
}
#details {
  margin-bottom: 5px;
}
table th, table td {
  padding: 5px 10px;
}
div#client h3 {
  margin: 0px;
}


