/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/OpenSans-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/OpenSans-Regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/OpenSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/OpenSans-Regular.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
    font-style: normal;
}
body {
    position: relative;
    width: 942px;  
    height: auto; 
    margin: 0 auto; 
    color: #555555;
    background: #FFFFFF; 
    font-family: Arial, sans-serif; 
    font-size: 14px; 
    font-family: 'OpenSans';
    vertical-align: middle;
}
header {
    padding: 10px 0;
    /*margin-bottom: 20px;*/
    border-bottom: 0px solid #AAAAAA;
}
pre {
    font-family: 'OpenSans';
}
.image img{
    position: relative;
    top: 154px;
    left: 31px;
}

.tab-float td{
    /*padding-left:13px;
    font-size:16px;
    font-weight:600*/
}


.tab-invoice th{
    /*padding-left: 2em;*/
    font-size: 16px;
    font-weight: normal;
}
.tabdirection{
    margin-left: 36em;
    margin-top: -9em;
    font-size: 14px;

}
.billadd{
    /*padding-left: 3em;*/
    padding-top: 10px;
    font-size:12px;
}
.tabdirection td {
    border: 1px solid #e2e2e2;

}
.tab-main{
    padding-top: 2em;
    width: 22cm;
}
.tab-main td{
    font-size:12px;
    border: 1px solid #e2e2e2;
}
.tab-main-standard {
    padding-top: 1em;
    width: 22cm;
    color: #000;
}

.tab-main-standard td{
    font-size:13px;
}

.tab-footer-standard {
    color: #000;
}

.tab-footer-standard td{
    font-size:13px;
}

.tab-main-grand {
    padding-top: 2em;
    width: 22cm;
    color: #000;
    padding-bottom: 1em;
}

.tab-main-grand-head {
    padding-top: 1em;
    width: 22cm;
    color: #000;
}

.tab-main-grand-head td{
    color: #555555; 
    font-size:13px
}

.tab-main-grand td{
    color: #000; 
    font-size:13px;
}

.tab-footer-grand {
    color: #000;
}

.tab-footer-grand td{
    font-size:12px;
}

.last-tab td{
    font-size:12px;
}
.tab1{
    position: relative;
    top: -92px;
    width:22cm;
}
@media print {
    .no-print {
        display: none;
    }
}

table.tab-main-standard tr td, table.tab-main-grand tr td {
    padding: 4px;
}

table.term-condition p {
    margin: 4px 0px;
}

table.invoice-footer h2 {
    margin: 4px 0px;
    font-size: 14px;
}

table.invoice-footer .address {
    font-size: 13px;
    text-align: center;
}

table.tab-main-grand-head tr td{
    padding:5px;
}