.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #5D6975;
  text-decoration: underline;
}

body {
  position: relative;
  width: 21cm;  
  height: 29.7cm; 
  margin: 0 auto; 
  color: #585858;
  background: #FFFFFF; 
  font-family: Arial, sans-serif; 
  font-size: 12px; 
  font-family: Arial;
  border: 1px solid #ddd;
}

header {
  padding: 10px 0;
  /*margin-bottom: 30px;*/
}

h1 {
/*  border-top: 1px solid  #5D6975;
  border-bottom: 1px solid  #5D6975;*/
  color: #5D6975;
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: right;
  margin: 0 0 20px 0;
  /*background: url(dimension.png);*/
}
.title-invoice {
/*  border-top: 1px solid  #5D6975;
  border-bottom: 1px solid  #5D6975;*/
  margin: 0 0 20px 0;
  /*background: url(dimension.png);*/
  background-color: #f5f5f5;
  width: 100%;
}
.title-invoice h2 {
    color: #5D6975;
    font-weight: normal;
    margin-left: 42%;
    float: left;
    width: 44%;
    margin-top: 18px;
    margin-bottom: 6px;
}
p.bal-due {
  float: right;
  text-align: right;
  width: 11%;
  padding-right: 16px;
  margin-top: 5px;
  font-size: 14px;
}

#project {
  float: left;
}

#project span {
  color: #5D6975;
  text-align: right;
  width: 52px;
  margin-right: 10px;
  display: inline-block;
  font-size: 0.8em;
}

#company {
  float: right;
  text-align: right;
}

#project div,
#company div {
  white-space: nowrap;        
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

/*table tr:nth-child(2n-1) td {*/
table thead, table tr.balance {
  background: #F5F5F5;
}

table th,
table td {
  text-align: left;
}

table th {
  padding: 12px 20px;
  color: #5D6975;
  border-bottom: 1px solid #C1CED9;
  border-top: 1px solid #C1CED9;
  border-right: 1px solid #C1CED9;
  white-space: nowrap;        
  font-weight: normal;
}
table tbody td {
  border-bottom: 1px solid #C1CED9;
  border-right: 1px solid #C1CED9;
}
table tbody td.amount, table thead th.amount {
  border-right: none !important;
}
table .service,
table .desc, table td {
  text-align: left;
}

table td {
  padding: 12px 20px;
  /*text-align: right;*/
}

table td.service,
table td.desc {
  vertical-align: top;
}

table td.unit,
table td.qty,
table td.total {
  font-size: 1.2em;
}

table td.grand {
  border-top: 1px solid #5D6975;;
}

#notices .notice {
  color: #5D6975;
  font-size: 1.2em;
}

footer {
  color: #5D6975;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #C1CED9;
  padding: 8px 0;
  text-align: center;
}
#heading {
  width: 100%;
}
#heading {
  float: right;
}
/*#logo {
  margin-bottom: 10px;
  float: left;
}*/

#logo img {
  width: 90px;
}
#heading p {
  text-align: right;
  margin: 5px 0;
}
#heading {
  margin-bottom: 15px;
}
#project-1 {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}
.dark-text {
  color: #000000;
  font-size: 13px;
}
.first-section, .second-section {
  width: 50%;
  float: left;
}

#logo {
  width: 30%;
  float: left;
}
#heading {
  width: 70%;
}
.second-section div {
  text-align: right;
}
.third-section, .fourth-section,
.third-section .name-format, .third-section .value-format,
.fourth-section .name-format, .fourth-section .value-format{
  width: 46.88%;
  float: left;
  /*margin-bottom: 5px;*/
  /*padding: 10px;*/
}
.heading-section-3 .third-section, .heading-section-3 .fourth-section {
  width: 46.5%;
  float: left;
  margin-bottom: 5px;
  padding: 10px;
}
.heading-section-3 .third-section .name-format, .heading-section-3 .third-section .value-format,
.heading-section-3 .fourth-section .name-format, .heading-section-3 .fourth-section .value-format{
  width: 100%;
  float: left;
  margin-bottom: 5px;
}
.heading-section.clearfix.heading-section-2 {
    padding-top: 18px;
}
.heading-section.clearfix.heading-section-3 {
  padding-left: 5px;
}
.heading-section-2 {
  border-top: 1px solid #ddd;
  /*border-bottom: 1px solid #ddd;*/
  /*padding: 10px 15px 5px;*/
  /*margin-top: 10px; */
}
.heading-section-2.bill .third-section, .heading-section-2.bill .fourth-section {
  padding: 10px 15px 5px;
  width: 45%;
}
.heading-section-2.bill {
  border-bottom: 1px solid #ddd;
}
.heading-section-3 {
  padding: 0 10px 0px;
}
.heading-section-3 .third-section, .heading-section-2.bill .third-section {
  border-right: 1px solid #ddd;
  margin-bottom: 0;
}
.heading-section-3 .fourth-section, .heading-section-2.bill .fourth-section {
  /*border-left: 1px solid #ddd;*/
  margin-bottom: 0;
}
.heading-section-3 .bill-to {
/*  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;*/
}
.heading-section {
  padding: 0 10px;
}
.height {
  height: 7rem;
  width: 100%;
}
.total-section .left-box, .total-section .right-box {
  width: 47%;
  padding: 10px;
  float: left;
}
.total-section {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.total-section .right-box .box-1, .total-section .right-box .box-2 {
  width: 48%;
  float: left;
  text-align: right;
  margin-bottom: 5px;
}
.sign {
  margin: 5rem 1rem;
  text-align: right;
}
.thank-you {
    padding: 12px 10px 28px 10px;
    border-bottom: 1px solid #ddd;
}
.heading-section.clearfix.heading-section-2 .third-section {
  border-right: 1px solid #ddd;
  padding-top: 12px;
  padding-left: 15px;
  padding-bottom: 12px;
}
.heading-section.clearfix.heading-section-2 .fourth-section {
  padding-top: 12px;
  padding-left: 15px;

}
.heading-section.clearfix.heading-section-2 {
  padding: 0;
}
.bill-section.clearfix.heading-section-2.bill .fourth-section {
    width: 47%;
}
.bill-section.clearfix.heading-section-2.bill {
  background-color: #eee;
}
.text-red {
  color: red;
}