@media (max-width: 1024px) {

	.logo-div .icon-modal-logo {
    	font-size: 120px;
	}

	.title-div h1 {
    	font-size: 50px;
	}

	.detail-box h2, .job-title h2 {
    	font-size: 27px;
	}

	.detail-box .customer-box, .detail-box .vehicle-box {
	    padding: 40px 60px;
	    height: 330px;
	}

	.detail-box li p, 
	.detail-box li small {
    	font-size: 18px;
	}

	.job-title {
    	width: 60%;
	}

	.main .table-div .yellow-sp {
	    width: 87%;
	    height: 10px;
	}

	.main .table-div.spare .yellow-sp {
    	width: 79%;
	}

	.main .table-div,
	.total-amount,
	.term-div {
    	padding: 0 60px;
	}

	.main .term-div .yellow-sp {
    	width: 67%;
	}

	.total-amount .block p {
    	font-size: 18px;
	}

	.total-amount .block h5 {
    	font-size: 23px;
	}
}

@media (max-width: 1023px) and (min-width: 768px) {

	.logo-div .icon-modal-logo {
    font-size: 100px;
	}

	.title-div h1 {
    font-size: 40px;
	}

	.main .table-div,
	.total-amount,
	.term-div {
    	padding: 0 30px;
	}

	.total-amount .block {
    padding: 15px;
	}

	.total-amount .block p {
    font-size: 15px;
	}

	.total-amount .block h5 {
    font-size: 20px;
	}

	.detail-box .customer-box, .detail-box .vehicle-box {
    padding: 25px 30px;
    height: 260px;
	}

	.detail-box .title-box,
	.job-title {
	    padding: 5px 0;
	    margin-bottom: 40px;
        border-radius: 50px;
	}

	.detail-box .icon-box,
	.job-title .icon-box {
    padding: 10px;
	}

	.detail-box .customer-box .icon-box:before {
    bottom: -7px;
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
	}

	.detail-box .icon-box span,
	.job-title .icon-box span {
    font-size: 25px;
	}

	.detail-box h2,
	.job-title h2 {
    font-size: 23px;
    padding-right: 30px;
	}

	.job-title h2 {
		padding-right: 20px;
	}

	.detail-box li p, .detail-box li small {
    font-size: 15px;
	}

	.detail-box li .colon {
    font-size: 16px;
	}

	.detail-box li>small {
    padding-left: 10px;
	}

	.detail-box .vehicle-box .icon-box:before,
	.job-title .icon-box:before {
    bottom: -7px;
    border-top: 10px solid #000;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
	}

	.table-div h4,
	.term-div h4 {
    font-size: 25px;
	}

	.main .term-div .yellow-sp {
    width: 65%;
	}

	.main .table-div .yellow-sp {
    width: 86%;
	}

	.main .table-div.spare .yellow-sp {
    width: 78%;
	}

	.button-div button, .button-div a {
    font-size: 30px;
    padding: 20px 0;
	}

	.table-div table,
	.table-div .total-box table {
    font-size: 18px;
	}

	.table-div .total-box table tr:last-child td {
    font-size: 20px;
	}	

	.table-bordered>tbody>tr>td, 
	.table-bordered>tbody>tr>th, 
	.table-bordered>tfoot>tr>td, 
	.table-bordered>tfoot>tr>th, 
	.table-bordered>thead>tr>td, 
	.table-bordered>thead>tr>th {
    padding: 8px 10px;
	}

}

@media(max-width: 767px) {

	.logo-div .icon-modal-logo {
    font-size: 80px;
	}

	.title-div h1 {
    font-size: 25px;
    margin: 25px 0 0;
	}

	.main .detail-box {
    margin-top: 10px;
	}

	.detail-box .customer-box, 
	.detail-box .vehicle-box {
    width: 100%;
    float: left;
	}

	.detail-box .customer-box, 
	.detail-box .vehicle-box {
    padding: 20px 15px;
    height: auto;
    border-top-right-radius: 0;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
	}

	.detail-box .vehicle-box {
	border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
	}

	.detail-box .title-box {
    width: 100%;
    border-radius: 50px;
    padding: 5px 0;
    margin-bottom: 30px;
	}

	.job-title {
		width: 75%;
		padding: 5px 0;
		    margin-bottom: 20px;
	}

	.detail-box .customer-box .icon-box {
    top: -3px;
    left: -2px;
	}

	.detail-box .icon-box, .job-title .icon-box {
    padding: 10px;
	}

	.detail-box .customer-box .icon-box:before {
    bottom: -7px;
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
	}

	.detail-box .icon-box span,
	.job-title .icon-box span {
    font-size: 25px;
	}

	.detail-box h2,
	.job-title h2 {
    font-size: 12px;
    padding-right: 25px;
	}

	.detail-box li p {
    font-size: 14px;
	}

	.detail-box li small {
    font-size: 13px;
	}

	.detail-box li .colon {
    font-size: 15px;
	}

	.detail-box .vehicle-box .icon-box:before,
	.job-title .icon-box:before {
    bottom: -7px;
    border-top: 10px solid #000;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
	}

	.main .table-div,
	.main .total-amount,
	.term-div {
    padding: 0 0px;
	}

	.total-amount .block {
    width: 50%;
    padding: 10px;
	}

	.total-amount .block p {
    font-size: 14px;
	}

	.total-amount .block h5 {
    font-size: 20px;
	}

	.table-div h4,
	.term-div h4 {
    font-size: 25px;
    margin: 0 0 5px;
	}

	.main .term-div .yellow-sp {
    width: 24%;
	}

	.main .table-div .yellow-sp {
    width: 70%;
    height: 8px;
    vertical-align: middle;
	}

	.main .table-div.spare .yellow-sp {
		width: 52%;
	}

	.table-div table {
    font-size: 15px;
	}

	.table-bordered>tbody>tr>td, 
	.table-bordered>tbody>tr>th, 
	.table-bordered>tfoot>tr>td, 
	.table-bordered>tfoot>tr>th, 
	.table-bordered>thead>tr>td, 
	.table-bordered>thead>tr>th {
    padding: 5px 10px;
	}

	.table-div .total-box {
    width: 100%;
	}

	.table-div .total-box table {
    font-size: 15px;
	}

	.table-div .total-box table tr:last-child td {
    font-size: 17px;
	}

	.term-div p {
    font-size: 16px;
    margin: 5px 0 0;
	}

	.button-div button, .button-div a  {
    font-size: 20px;
    padding: 10px 0;
	}

	.button-div .icon-success, 
	.button-div .icon-error {
    top: 3px;
	}

	.total-amount .block {
		border-right: 0;
	}

	.total-amount .block:first-of-type,
	.total-amount .block:nth-of-type(2) {
		border-right: 1px solid #555;
		border-bottom: 1px solid #555;
	}

	.wrapper {
		padding: 10px 0 0;
	}

	.wrapper .main,
	.wrapper .container {
		box-shadow: none;
		padding: 0;
	}

	.wrapper .main .table-div,
	.wrapper .main .term-div {
		padding: 0 10px;
	}




}