@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?lr3kd1');
  src:  url('../fonts/icomoon.eot?lr3kd1#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?lr3kd1') format('truetype'),
    url('../fonts/icomoon.woff?lr3kd1') format('woff'),
    url('../fonts/icomoon.svg?lr3kd1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-effd:before {
  content: "\e900";
}
.icon-wqsd:before {
  content: "\e901";
}
.icon-checklist:before {
  content: "\e902";
}
.icon-error:before {
  content: "\e903";
}
.icon-success:before {
  content: "\e904";
}
.icon-modal-logo .path1:before {
  content: "\e9cd";
  color: rgb(33, 30, 31);
}
.icon-modal-logo .path2:before {
  content: "\e9ce";
  margin-left: -1.263671875em;
  color: rgb(35, 31, 32);
}
.icon-modal-logo .path3:before {
  content: "\e9cf";
  margin-left: -1.263671875em;
  color: rgb(255, 202, 21);
}
.icon-modal-logo .path4:before {
  content: "\e9d0";
  margin-left: -1.263671875em;
  color: rgb(33, 30, 31);
}
.icon-modal-logo .path5:before {
  content: "\e9d1";
  margin-left: -1.263671875em;
  color: rgb(33, 30, 31);
}
